4. Semester/Publizieren/Material/festMenue/festMenueGenerated.dtd

<?xml encoding="UTF-8"?>

<!ELEMENT festMenue (anlass,gericht+)>
<!ATTLIST festMenue
  xmlns CDATA #FIXED ''>

<!ELEMENT anlass (#PCDATA)>
<!ATTLIST anlass
  xmlns CDATA #FIXED ''>

<!ELEMENT gericht (typ,name)>
<!ATTLIST gericht
  xmlns CDATA #FIXED ''>

<!ELEMENT typ (#PCDATA)>
<!ATTLIST typ
  xmlns CDATA #FIXED ''>

<!ELEMENT name (#PCDATA)>
<!ATTLIST name
  xmlns CDATA #FIXED ''>
